.NoofSubTodos_maindiv{
    display: flex;
    background-color: #ffffff;
    color: #8a8122;
    font-size: 28px;
    border-radius: 5px;
    padding: 0 5px;
    gap: 5px;
    border:solid 1px rgb(46, 45, 45)
}